@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header_bg: #ffffff;
  --body_bg: #ffffff;
  --reactBlue: #00abca;
  --fontColor: #2b283a;
  --lightFontColor: #2b283a;
  --darkFontColor: #d5d4d8;

  --toggleBtnBg: #2b283a;
  --toggleBtnCircle: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --header_bg: #21222a;
    --body_bg: #282d35;
    --reactBlue: #61dafb;
    --fontColor: #ffffff;
    --lightFontColor: #918e9b;
    --darkFontColor: #ffffff;

    --toggleBtnBg: #f5f5f5;
    --toggleBtnCircle: #222222;
  }
}

body {
  height: 100%;
  width: 100%;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--fontColor);

  background-color: var(--body_bg);
}

.r-flex {
  display: flex;
}

.c-flex {
  display: flex;
  flex-direction: column;
}

.a-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

/* Header section styles */
.header {
  height: 91px;
  width: 100%;
  padding: 28px;

  box-shadow: 2px 0 5px lightgrey;
  justify-content: space-between;

  background-color: var(--header_bg);
}

.header .logo {
  width: 160px;
  justify-content: space-between;
}

.header .logoText {
  font-size: 22.25px;
  color: var(--reactBlue);
  font-weight: 700;
}

/* Toggle button */
.toggleBar {
  width: 90px;
  justify-content: space-around;
}

.toggleBar span {
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

span.light {
  color: var(--lightFontColor);
}

span.dark {
  color: var(--darkFontColor);
}

.switch {
  position: relative;
  display: inline-block;
  height: 13px;
  width: 25.55px;
}

.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--toggleBtnBg);
  cursor: pointer;
  border-radius: 11.19px;
  transition: 0.4s ease;
}

.slider::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 0.5px;
  top: 0.5px;
  background-color: var(--toggleBtnCircle);
  transition: 0.4s ease;
  border-radius: 50%;
}

input:checked + .slider::before {
  transform: translateX(100%);
}
